*
  outline: none
  box-sizing: border-box

body
  margin: 0
  font-size: 14px
  font-family: $font

a
  text-decoration: none
  color: $primary

hr
  width: auto

.container
  margin: 0 auto
  position: relative

#content
  a
    color: $primary
    text-decoration: none
  .header-link
    color: inherit
    &:hover
      .header-anchor
        opacity: 1