* {
  outline: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: "Muli", sans-serif;
}
a {
  text-decoration: none;
  color: #3498db;
}
hr {
  width: auto;
}
.container {
  margin: 0 auto;
  position: relative;
}
#content a {
  color: #3498db;
  text-decoration: none;
}
#content .header-link {
  color: inherit;
}
#content .header-link:hover .header-anchor {
  opacity: 1;
}
url {
  display: table;
  color: #4f5c5d;
  font-size: 1.1em;
  font-family: monospace;
  margin: 6px 0 30px;
  line-height: 24px;
  border: 1px solid #34495e;
  padding: 0 12px;
  border-radius: 3px;
  background: #eaecee;
}
url:before {
  margin: 0 12px 0 -12px;
  background: #34495e;
  border-radius: 2px 0 0 2px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #fff;
  padding: 0 10px;
  float: left;
}
url[get] {
  background: #e9f7ef;
  border-color: #27ae60;
}
url[get]:before {
  background: #27ae60;
  content: "GET";
}
url[post] {
  background: #fbede5;
  border-color: #d35400;
}
url[post]:before {
  background: #d35400;
  content: "POST";
}
url[patch]:before {
  content: "PATCH";
}
url[put]:before {
  content: "PUT";
}
url[delete]:before {
  content: "DELETE";
}
url b {
  font-weight: 400;
  color: #000;
}
callout {
  display: block;
  background: #f4f8fa;
  border-left: 4px solid #5bc0de;
  color: rgba(0, 0, 0, 0.8);
  padding: 14px 20px;
  margin: 16px 0;
  word-break: break-word;
}
callout p {
  margin: 0;
}
callout[danger] {
  background: rgba(245, 97, 81, 0.15);
  border-left-color: #f56151;
}
callout[warn] {
  background: rgba(255, 167, 38, 0.1);
  border-left-color: #ffa726;
}
read-more a {
  color: #526ad0 !important;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
read-more a:after {
  content: url("/src/assets/images/read-more.svg");
  position: absolute;
  padding-left: 5px;
  padding-top: 1px;
}
.hl {
  position: relative;
  width: auto;
  cursor: pointer;
}
.hl:before {
  background: #bada55;
  padding: 2px 10px;
  border-radius: 2px;
  right: 0;
  position: absolute;
  bottom: 100%;
  color: #414141;
}
.hl:hover:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  border-left: 3px solid #008bf3;
}
.hl:hover:before {
  content: "Copy";
}
.hl:focus:before {
  content: "Copied";
}
.code-container {
  line-height: 1.3;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 16px 0;
  overflow: auto;
}
.code-container .copy-btn {
  color: #29b7d5;
  cursor: pointer;
  position: absolute;
  left: 800px;
  margin-top: -50px;
}
.codeblock.has-labels {
  margin-top: 35px;
}
.codeblock .code-labels {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px 2px 0 0;
  padding: 10px 0 0 10px;
  line-height: 30px;
}
.codeblock input[type="radio"] {
  display: none;
}
.codeblock input[type="radio"] + .code-container {
  display: none;
}
.codeblock input[type="radio"]:checked + .code-container {
  display: block;
}
.codeblock code {
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0 20px;
  background: transparent;
  min-width: 100%;
  float: left;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.4;
}
.codeblock .hl {
  background: #daebf9;
}
.codeblock label {
  height: inherit;
  display: inline-block;
  padding: 0 2px;
  margin: 0 10px;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
.codeblock label.active {
  color: #333;
  font-weight: bold;
}
.codeblock label:only-child {
  border-color: transparent;
  margin-left: 4px;
  border-width: 1px;
}
@media (max-width: 900px) {
  .copy-btn {
    display: none;
  }
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  margin-bottom: 0;
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
.header-anchor {
  color: #3498db;
  transition: opacity 0.2s;
  opacity: 0;
  margin-left: 4px;
}
h2 {
  cursor: default;
  position: relative;
}
h3 {
  font-style: italic;
}
h4,
h5,
h6 {
  font-weight: 600;
  margin: 22px 0 -4px;
}
ul,
ol {
  margin-top: 8px;
  padding-left: 30px;
}
li ul,
li ol {
  margin-left: -12px;
}
li,
p,
ul,
ol {
  line-height: 24px;
  font-size: 14px;
}
ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 24px;
  margin-left: -24px;
  float: left;
}
li ol li:before {
  content: counter(item, lower-alpha) ". ";
}
img {
  display: block;
  max-width: 100%;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  max-height: 800px;
  vertical-align: middle;
  margin-top: -3px;
}
.emoji {
  height: 18px;
  border: 0;
  padding: 0;
}
h1 .emoji,
h2 .emoji {
  height: 24px;
}
code {
  font-family: Consolas, Menlo, Monaco, Andale Mono, monospace;
  tab-size: 4;
  vertical-align: middle;
  margin: 0 3px;
  color: #34495e;
  font-size: 13px;
  padding: 2px 4px;
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f1f1f1;
}
dl {
  border-radius: 2px;
  position: relative;
  font-size: 13px;
}
dt {
  color: #9fa3a8;
  float: left;
  font-size: 13px;
  padding-top: 20px;
  line-height: 26px;
  text-align: right;
  width: 40%;
  display: flex;
  flex-direction: column;
}
dt > * {
  align-self: flex-end;
  flex-basis: 0;
}
dt em {
  font-style: normal;
  border: 1px solid #969696;
  color: #969696;
  padding: 0 5px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-size: 11px;
  height: 20px;
  line-height: 18px;
  margin: 1px 0;
  font-weight: bold;
}
dt code {
  position: relative;
  padding: 0;
  border: 0;
  background: none;
  font-weight: bold;
  margin: 0;
}
dt code:last-child:after {
  content: "\A";
  white-space: pre;
}
dd {
  line-height: 1.75;
  margin: 0;
  min-height: 80px;
  padding: 22px 40px 22px 50%;
}
dd:nth-of-type(2n) {
  background-color: #fbfbfb;
}
dd > * {
  margin: 0;
}
blockquote {
  border-left: 0.5em solid #eee;
  padding: 0 2em;
  margin-left: 0;
  max-width: 476px;
}
blockquote cite font-size:14px line-height:20px color:#bfbfbf {
}
blockquote:before {
  content: "\2014 \00A0";
}
blockquote p {
  color: #666;
  max-width: 460px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 35px;
}
result {
  font-size: 13px;
  border-radius: 0 0 4px 4px;
  padding: 26px 20px;
  margin-top: -15px;
  position: relative;
  display: block;
  border: 1px solid #eee;
  border-top-color: transparent;
}
result[mono] {
  font-family: Consolas, Menlo, Monaco, Andale Mono, monospace;
}
result .header-anchor {
  top: -3px;
}
section:before {
  content: "";
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}
@media (max-width: 900px) {
  dt {
    width: 60%;
  }
  dd {
    padding-left: 65%;
  }
}
